[build]
  publish = "public"
  command = "echo 'window.SUPABASE_URL = \"'$SUPABASE_URL'\";\nwindow.SUPABASE_ANON_KEY = \"'$SUPABASE_ANON_KEY'\";\nwindow.GROQ_API_KEY = \"'$GROQ_API_KEY'\";' > public/scripts/config.js"